@import url("style.css");

.page {
  padding-top: 80px;
}

.products.products--catalog .list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  overflow-x: hidden;
  padding: 20px 0px;
  width: 100%;
}

.products.products--catalog .card {
  flex: initial;
  width: 100% !important;
  max-width: none;
  flex-basis: auto;
}

.products.products--catalog .image-container {
  height: 220px;
}